<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thanhduy.ophuot">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".base.OPhuotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- google map api -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_6U59ULg_PZQ62a24z6VakVB7XQX2EDg" />


        <activity
            android:name=".main.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".login_and_register.view.LoginActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".profile.view.ProfileUserActivity"></activity>
        <activity android:name=".profile.edit_profile.view.EditProfileActivity"></activity>
        <activity
            android:name=".create_homestay.view.CreateHomeStayActivityOne"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".create_homestay.view.CreateHomeStayActivityTwo"></activity>
        <activity android:name=".create_homestay.view.CreateHomeStayActivityThree"></activity>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".create_homestay.view.CreateHomeStayActivityFour"></activity>
        <activity android:name=".manage_homestay.view.ManageHomestayActivity"></activity>
        <activity android:name=".manage_homestay.view.FullScreenGoogleMapActivity"></activity>
        <activity android:name=".manage_homestay.view.EditHomestayActivity"></activity>
        <activity android:name=".list_homestay.view.ListHomestayActivity"></activity>
        <activity android:name=".homestay_detail.view.ActivityHomestayDetail"></activity>
        <activity android:name=".comment.view.CommentActivity"></activity>
        <activity android:name=".favorite.view.ListFavoriteActivity"></activity>
        <activity android:name=".profile.guess_profile.GuessProfileActivitiy"></activity>
        <activity android:name=".search.view.SearchNearByResultActivity"></activity>
        <activity android:name=".search.view.SearchByProvinceAndDistrictActivity"></activity>
        <activity
            android:name=".chat.view.ChatActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".chat.view.DisplayImageActivity" />
        <activity
            android:name=".report.view.ReportActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".forget_password.ForgetPasswordActivity"/>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>